* {
	font-family: Hack Nerd Font;
	font-size: 18px;
}

window#waybar {
	background-color: transparent;
	color: #D4BE98;
}

#custom-upper-left,
#custom-upper-right {
	font-size: 30px;
}

#custom-lower-left,
#custom-lower-right {
	font-size: 28px;
}

#user,
#cpu,
#mpd,
#clock,
#network,
#pulseaudio,
#workspaces {
	padding-left: 10px;
	padding-right: 10px;
}

/* 
 * position: left
 * module: user
 */

#user {
	background-color: rgba(0x25, 0x24, 0x23, 0.7);
	border-bottom: 3px solid #252423;
}

.modules-left widget:nth-child(2) #custom-lower-left {
	color: rgba(0x25, 0x24, 0x23, 0.7);
	border-bottom: 3px solid #252423;
}

/* 
 * position: left
 * module: cpu load
 */

#cpu {
	background-color: rgba(0x57, 0x48, 0x33, 0.7);
	border-bottom: 3px solid #574833;
}

.modules-left widget:nth-child(3) #custom-upper-right {
	color: rgba(0x57, 0x48, 0x33, 0.7);
}

.modules-left widget:nth-child(5) #custom-lower-left {
	color: rgba(0x57, 0x48, 0x33, 0.7);
	border-bottom: 3px solid #574833;
}

/* 
 * position: left
 * module: clock
 */

#clock {
	background-color: rgba(0x3C, 0x1F, 0x1E, 0.7);
	border-bottom: 3px solid #3C1F1E;
}

.modules-left widget:nth-child(6) #custom-upper-right {
	color: rgba(0x3C, 0x1F, 0x1E, 0.7);
}

.modules-left widget:nth-child(8) #custom-lower-left {
	color: rgba(0x3C, 0x1F, 0x1E, 0.7);
	border-bottom: 3px solid #3C1F1E;
}

/* 
 * position: center
 * module: workspace
 */

#workspaces {
	background-color: transparent;
	border-bottom: none;
	padding: 0px;
}

#workspaces button {
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
	color: #D4BE98;
	border-bottom: 3px solid #E78A4E;
	opacity: 0.7;
}

#workspaces button.active {
	opacity: 1;
}

#workspaces button:hover {
	background: transparent;
	box-shadow: inherit;
    text-shadow: inherit;
	border: none;
	border-bottom: 3px solid #E78A4E;
}

/* 
 * position: right
 * module: mpd
 */

#mpd {
	background-color: rgba(0x42, 0x4A, 0x3E, 0.7);
	border-bottom: 3px solid #424A3E;
}

.modules-right widget:nth-child(1) #custom-lower-right {
	color: rgba(0x42, 0x4A, 0x3E, 0.7);
	border-bottom: 3px solid #424A3E;
}

.modules-right widget:nth-child(3) #custom-upper-left {
	color: rgba(0x42, 0x4A, 0x3E, 0.7);
}

/* 
 * position: right
 * module: audio
 */

#pulseaudio {
	background-color: rgba(0x54, 0x39, 0x37, 0.7);
	border-bottom: 3px solid #543937;
}

.modules-right widget:nth-child(4) #custom-lower-right {
	color: rgba(0x54, 0x39, 0x37, 0.7);
	border-bottom: 3px solid #543937;
}

.modules-right widget:nth-child(6) #custom-upper-left {
	color: rgba(0x54, 0x39, 0x37, 0.7);
}

/* 
 * position: right
 * module: network
 */

#network {
	background-color: rgba(0x25, 0x24, 0x23, 0.7);
	border-bottom: 3px solid #252423;
}

.modules-right widget:nth-child(7) #custom-lower-right {
	color: rgba(0x25, 0x24, 0x23, 0.7);
	border-bottom: 3px solid #252423;
}
